<div class="aqbz-wrapper">
    <div class="aqbz_banner"></div>
    <div class="container banxin">
		<div class="content">
			<div class="item item1">
				<h3>国企投资背景</h3>
				<p>中传国泰（北京）文化发展有限公司（简称“中传国泰”）战略入股金吉利宝，占股比例70%，“中传国泰”隶属于国有企业“中国文化传媒集团”，后者是一家大型国企，有着广阔的业务领域和丰富的文化资源。</p>
			</div>
			<div class="item item2">
				<h3>第三方资金托管</h3>
				<p>金吉利宝账户资金由富友支付托管，资金流不经过平台，交易均由用户授权富友支付操作执行，平台无法触碰用户资金，确保资金进、存、出全程安全。</p>
			</div>
			<div class="item item3">
				<h3>风控审核 项目优选</h3>
				<p>专注供应链金融资产，所有资产都是由专业的风控团队经过缜密的实地调研，确认了资产真实性，严格按照合规化标准审核的。向借款人发放贷款的同时，对借款人进行资金流、信息流的监控，并对整个产业链上下游进行监控，实现对借款人资金流向的控制，项目安全性得到极大提高。</p>
			</div>
			<div class="item item4">
				<h3>律所支持 合规排查</h3>
				<p>璟祐律师事务所作为金吉利宝战略合作伙伴，将协助金吉利宝审核、起草、修改相关法律文件，对公司的业务模式进行合规性审查，为公司的合法发展提供法律服务支持，更好的保障借贷双方的合法权益。</p>
			</div>
			<div class="item item5">
				<h3>多重防护 平台安全</h3>
				<p>24小时系统自动监控，账户时时验证；SSL网路传输加密，不让网络黑客危害你的资金安全；实名认证＋同卡同出，提现只能提到跟您实名验证相同身份证号的银行卡里，以防止别人企图盗取您的资金。数据加密存储，保护你的个人隐私，防止任何人包括公司员工窃取您的账户信息。</p>
			</div>
					
		</div>
	</div>
</div>