<!-- <div class="mtbd_detail_wrapper">
    <div class="container">
        <div class="list_top">
            <ul>
                <li><a href="">新闻资讯 ></a></li>
                <li><a href="">媒体报道 ></a></li>
                <li><a href="">查看内容 </a></li>
            </ul>
        </div>
        <div class="title">
            <h1>【搜狐】聚焦中小企业 耀盛中国获中国中小企业首选服务商</h1>
            <p>发布时间：2018-01-18 16:51:05</p>
        </div>
        <div class="content">
            <p>过去的2017年，对中国经济而言是“脱虚向实”的一年，金融系统不断向实体经济输送血液，央行发力7000亿输血实体经济，而2017年的PMI数据也走强，制造企业信心持续回升，中国实体经济迅速回暖。国家鼓励通过各种方法，减少企业成本，让企业有更多的资金和精力去创新，提高生产效率。而过去中国中小企业普遍面临的问题是融资成本和金融成本偏高，影响了企业的迭代创新能力，要想解决中小企业的金融难题，需要金融行业自身引入创新，而获得2017年度中国中小企业首选服务商的耀盛中国对此较有话语权。</p>

            <p>中小企业是中国数量最大、最具创新活力的企业群体，在促进经济增长、推动创新、增加税收、吸纳就业、改善民生等方面具有不可替代的作用。目前，我国中小企业有四千万家，占企业总数的99%，贡献了中国60%的GDP、50%的税收和80%的城镇就业，而且中小企业是技术创新的生力军。我国65％的专利、75％以上的技术创新、80％以上的新产品开发，都是由中小企业完成的。这一最有活力的群体能否茁壮地成长，直接关系到我国经济的创新能力和可持续发展能力。耀盛中国作为中国中小企业金融服务的领导者、探索者、实践者，一直秉承“整合、稳健、创新、协同”的综合金融思维，聚焦于解决中小企业面临的发展需要，为中小企业发展助力。</p>
     
            <p>耀盛中国长期专注于中小企业金融服务，掌握了领先国内市场水平的金融评价技术。耀盛中国总裁原旭霖表示，金融的核心就是对于数据的掌控，数据不等于事实，需要对中小企业的数据、信息进行量化分析和建模，得以研发出适合中小企业的金融产品，从而实现向中小企业提供定制化产品、有效地扶持中小企业蓬勃发展。该项针对中小企业信用评价的系统Riskcalc于2010年研发成功，Riskcalc风控系统的诞生，有效的解决了中国金融领域无法对中小企业信用风险进行准确判定的问题。经过不断优化升级，这项风控体系已是中国大陆乃至东亚地区最高水平的中小企业信用评级技术，目前已在中美两地申请了专利保护。</p>
     
            <p>不仅如此，耀盛中国还通过“金融+互联网”的模式对整个中小企业圈进行全方位服务，打通中小企业资金链之间的壁垒，帮助他们实现从研发、采购、生产到市场营销、分销终端、物流等各环节的全程管理和优化，最大限度提升企业价值，提高竞争力，帮助供应链上下游的众多合作伙伴做大做强，切实服务到中小企业，助力普惠金融。</p>
     
            <p>未来，耀盛中国将继续本着提供“诚信、优质、创新”服务的原则，为中小企业提供全方位的综合金融解决方案，激发创业创新活力，积极履行社会责任，推动全国各地的中小企业持续健康发展。</p>
        </div>
        <div class="other">
            <a>上一篇：【活动】疯狂年终奖，高达2%限时加息</a><br>
            <a>上一篇：【活动】疯狂年终奖，高达2%限时加息</a>
        </div>
    </div>
</div> -->

<div class="more-bdxq">
    <header>报道详情<span ng-click="goBack()">返回</span></header>
    <div class="bdxq-container">
        <h1>{{noticeData.title}}</h1>
        <div ng-bind-html="noticeData.content | asHtml"></div>
    </div>
</div>