<div class="more-gywm">
    <img src="/images/more/gywm-banner.png" alt="" class="banner">
    <div class="gywm-container">
        <h1><span></span>公司简介</h1>
        <p>金吉利宝，是一家国企投资的普惠金融平台，由上海汴盛金融信息服务有限公司运营。公司成立于2015年11月，实缴资本5000万元，中传国泰（北京）文化发展有限公司（以下简称“中传国泰”）战略入股金吉利宝，占股比例70%，“中传国泰”隶属于国有企业“中国文化传媒集团”，后者注册资本2.23亿元，是一家大型国企，有着广阔的业务领域和丰富的文化资源。</p>
        <br>
        <p>作为国企投资平台，金吉利宝有着百人风控团队和14重风控体系，创始成员具有多年丰富的国内外投融资经验，深入理解互联网+金融体系的融合，80%以上成员具有3-10年以上的风控经验，对每个项目进行线下考察、评估和审核，确保风险可控。</p>
        <br>
        <p>金吉利宝凭借丰富的互联网金融产品研发与运营经验，利用金融科技创新手段，帮助中小微企业解决融资难、融资贵等问题，缩短资金获得周期，降低融资成本，提高出借收益，增强资金流动性，致力于打造一个专业、安全、合规的互联网借贷服务平台。</p>
        <h1><span></span>业务模式</h1>
        <img src="/images/more/gywm-ywms.png" class="gywm-ywms" alt="">
    </div>
</div>