<div class="more-hzhb">
    <img src="/images/more/hzhb-banner.png" alt="" class="banner">
    <div class="hzhb-container">
        <img src="/images/more/parter2.png" alt="">
        <img src="/images/more/parter1.png" alt="">
        <img src="/images/more/parter-a.png" alt="">
        <img src="/images/more/parter-b.png" alt="">
        <img src="/images/more/parter-c.png" alt="">
        <img src="/images/more/parter-f.png" alt="">
        <img src="/images/more/parter-d.png" alt="">
        <img src="/images/more/parter-e.png" alt="">
        <!-- <div></div> -->
    </div>
</div>