<div class="more-lxwm">
    <img src="/images/more/lxwm-banner.png" alt="" class="banner">
    <div class="lxwm-container">
        <div class="email-tel">
            <div class="email-box">
                <h1><span></span>公司简介</h1>
                <p>商务： BD@jinjilibao.com</p>
                <p>客服： Service@jinjilibao.com</p>
            </div>
            <div class="tel-box">
                <h1><span></span>联系电话</h1>
                <p>商务： 021-56980009</p>
                <p>客服： 400-920-8399</p>
            </div>
        </div>
        <div class="address-box">
            <h1><span></span>联系地址</h1>
            <p>上海市静安区中兴路1500号新理想大厦19楼</p>
        </div>
        <div class="map-box">

        </div>
        <!-- <div class="wechatcode-box">
            <img src="/images/common/app-code.png" alt="">
            <p>金吉利宝公众号</p>
        </div> -->
    </div>
</div>