<div class="more-wrapper">
    <div class="more-container">
        <ul>
            <li ui-sref="main.more.gywm" ui-sref-active="active"><div>关于我们</div></li>
            <li ui-sref="main.more.gszz" ui-sref-active="active"><div>公司资质</div></li>
            <li ui-sref="main.more.hzhb" ui-sref-active="active"><div>合作伙伴</div></li>
            <li ui-sref="main.more.mtbd" ui-sref-active="active"><div>媒体报道</div></li>
            <li ui-sref="main.more.wzgg" ui-sref-active="active"><div>网站公告</div></li>
            <li ui-sref="main.more.lxwm" ui-sref-active="active"><div>联系我们</div></li>
        </ul>
        <div class="more-content" ui-view></div>
    </div>
</div>