<div id="protocolPDF" class="protocol-box pay-protocol-box loan-protocol" ng-controller="loanProtocolCtrl">
	<h1>银行股份有限公司<br>资金系统专用簿记服务协议</h1>
	<div class="pay-protocol-box">	
		<p class="">专用簿记服务是<strong>银行</strong>为上海汴盛金融信息服务有限公司及其客户提供的创建、记载、冻结、转移等服务（以下简称“本服务”）。为保障您的权益，请于注册或使用本服务前，详细阅读《银行股份有限公司资金系统专用簿记服务协议》簿记条款（以下称“服务条款”）的所有内容。当您通过在“金吉利宝”网站或者“金吉利宝APP”点击“同意”注册按钮、选择接受本服务条款或开始使用专用簿记服务时，即表示您已阅读、理解并同意接受服务条款之所有内容。银行保留修改服务条款之权利，并通过银行网站公布最新之变更事项，而无需另作个别通知。</p>
		<p>本簿记（记录）是基于上海汴盛金融信息服务有限公司在银行资金系统簿记服务下的个体虚拟簿记服务，用于记录个体的资金往来数据，接受银行的监督。</p>
		<h1>一、您的注册义务</h1>
		<p>为了能使用本服务，您需要：</p>
		<p><b>（一）</b>您必须通过“上海汴盛金融信息服务有限公司”所运营的“金吉利宝”网站（网址：<a href="https://www.jinjilibao.com">https://www.jinjilibao.com</a>）及“金吉利宝APP”（以下简称“金吉利宝”）注册成为专用簿记的用户，拥有专用簿记服务号。</p>
		<p><b>（二）</b>您同意遵守所有与本服务相关之国内国际法律及规定，并同意不冒用或盗用他人的身份或者干扰他人使用本服务。</p>
		<p><b>（三）</b>您必须提供相应资料并同意为您创建记载，该簿记服务号仅可授权给金吉利宝，并记录您个人与金吉利宝及第三方所发生的资金往来行为。</p>
		<p><b>（四）</b><strong>您有义务维护并立即更新您的登录密码，确保其安全，您每次发起交易或进行相关操作，必须提交上述要素，且相关操作均视为您的自身行为，如遗失或泄露应及时更换，但因此造成损失应由您自行承担。</strong></p>
		<p><b>（五）</b><strong>对于您使用任何不正确不合法之连线方式登录簿记服务号招致的任何损失、支出、费用、罚金，银行将不会负担任何责任。</strong></p>
		<p><b>（六）</b><strong>您应确保您的簿记服务号和密码仅由您本人或合法授权人使用。</strong></p>
		<p><b>（七）</b>您同意银行基于自身之独立判断，有权于发现异常交易、有疑异或违法之交易时，不经通知先行暂停或终止您的用户服务，并拒绝您使用本服务之部份或全部。但是，判断和发现异常交易、有疑异或违法之交易，并不构成银行的一项义务和责任。</p>
		<h1>二、用户簿记服务和密码及其安全</h1>
		<p>采取必要和有效的措施，确保您本人用户密码机密安全，是您的责任。您将对使用该密码及记载服务所进行的一切行动，负完全的责任，并同意遵守和执行以下事项：</p>
		<p><b>（一）</b>您的密码或簿记服务遭到冒用、盗用或有其他任何影响安全的问题发生时，请立即通知银行和金吉利宝。</p>
		<p><b>（二）</b>为了交易安全，请您避免在公共计算机上或网吧中使用本服务。</p>
		<p><b>（三）</b>每次连线完毕，请确认您均已通过正确操作而退出您的簿记服务登录。</p>
		<p><b>（四）</b>您同意该专用簿记服务号与您自身所拥有的单一银行账户进行绑定，银行有权依据您或者您授权人的指令从您绑定的银行账户中进行扣款充值。</p>
		<p><b>（五）</b>您同意该专用簿记服务号仅提供充值、查询、提现功能，且提现仅限于您开立该簿记服务号时授权绑定的银行账户。</p>
		<p><b>（六）</b>检查、监控和发现是否有非法人员冒用或盗用您的用户簿记服务及密码、或其他任何未经合法授权之情形，是您的义务和责任。</p>
		<h1>三、银行与您之间的法律关系</h1>
		<p><b>（一）</b>银行为您指定的专用簿记服务提供商：</p>
		<p><b>1、</b>一旦您注册成为本服务之用户，银行将遵照该专用簿记服务之约定并按照您或您合法授权人的指令提供充值、查询、提现功能，并同时进行相应的记录。且提现所指定的银行账户仅为您开立该专用簿记服务号时授权绑定的银行账户，资金的存取都通过金吉利宝在银行的账户。</p>
		<p><b>2、</b>除您本人外，该专用簿记服务仅接受由您授权的金吉利宝的入账申请。</p>
		<p><b>3、</b>任何情况下，您的资金将始终独立存于金吉利宝在银行的账户上，银行不会将您的资金用于非您指示的用途上。</p>
		<p><b>4、</b>您通过本服务流转（包括但不限于充值、划扣、代付、提现等）存放的资金将不产生任何形式的利息。</p>
		<h1>四、本服务使用条款</h1>
		<p><b>（一）</b>资格认定：为使用本服务，您必须使用一个有效的手机号码，通过金吉利宝注册成为该专用簿记服务的用户。您保证您所提供的包括该手机号码在内的各项联系方式，如联系电话、联系地址、电子邮件地址、邮政编码等内容的有效性及安全性，保证银行及其他用户可以通过上述联系方式与您进行联系。若您提供的联系方式或其他个人信息发生变更，您应在变更当日及时登录专用簿记账户进行修改。因未能按时提交变更后的资料或信息而影响您使用该专用簿记服务的，银行和金吉利宝不承担任何责任。</p>
		<p><b>（二）</b>交易风险：当您通过本服务接受款项，若您或对方未遵守本服务条款或银行之操作步骤和规定条件（包含任何不合法或未经许可之交易），银行和金吉利宝将不保证交易会顺利或者正确完成，且银行和金吉利宝不承担任何损害赔偿责任。若在上述状况下款项已先行记入您的用户簿记服务号，银行有权且无需附加任何条件而调整簿记记录。</p>
		<p><b>（三）</b>充值：当您注册使用本服务后，您可提请充值，该功能需承担相应费用，银行将提供多种充值方式，并将依据充值结果在簿记系统中进行相应记录；该成功充值资金将存放于金吉利宝在银行的账户中，以便您交易时可以快捷安全地支付。<strong>但银行和金吉利宝无须对您使用本服务期间款项的资金贬值承担责任。</strong></p>
		<p><b>（四）</b>提现：当您使用本服务时，您的申请款项将仅可付至您创建专用簿记号时授权绑定的银行账户中，并需承担相应费用。当您或您的合法授权人根据有关流程规定和条件给出「提现」指示并缴纳相应费用后，银行将于三个工作日内将相关款项按照指示从金吉利宝在银行的账户中提取至您指定的银行账户。银行拥有制定及不时调整提现最低额度以及提现频率之权利。您同意银行有权基于单方判断，在银行发现您提出大额提现要求时，要求您向银行提供合法有效的交易证据。在您未能按要求提供交易证据之前时，银行有权不执行您的提现要求并将交易金额退回到金吉利宝在银行的账户中。</p>
		<p><b>（五）</b>交易额度限制：银行拥有不时调整本服务之注册用户每月交易限额的权利，调整事宜将通过银行网站公布，不再另作个别通知。</p>
		<p><b>（六）</b>交易退回：当您使用本服务进行付款时，可能由于银行本身系统问题、银行相关作业网络连线问题、以及身份确认错误或其他因素，造成交易无法完成。若您所提供之个人基本资料有误，造成本服务无法完成交易，且无法及时通知您或无法将退款交付您手中，银行将不对此承担任何损害赔偿责任。</p>
		<p><b>（七）</b>服务手续费用：您使用本服务时，银行将向您收取相关服务之手续费用。银行拥有制定及不时调整服务手续费之权利。</p>
		<p><b>（八）</b>连线设备：为使用本服务，您应当使用具备良好品质的连线设备。若因您的连线设备损坏或故障，造成您与本服务连接时所进行的交易和提现记录丢失的，银行将不承担您因此遭受的任何损失。</p>
		<p><b>（九）</b>入侵：如果您破坏、入侵、修改本服务功能或其安全防护体系或者实施其他危害本服务功能或安全防护体系的行为，您的用户簿记服务将会被终止，且您必须承担一切损害赔偿责任及接受一切法律责任。</p>
		<p><b>（十）</b>权利义务移转：在本服务条款之约束下，若无银行的书面同意，您无法转移任何权利和义务。</p>
		<p><b>（十一）</b>商标：银行的商标和相关产品及服务的全部及任何权利均归属于银行。未经银行书面同意和许可，禁止他人复印、仿效、使用或实施任何其他侵权行为。</p>
		<p><b>（十二）</b>客户责任：如果您认为您的用户簿记服务或密码可能存在安全问题，或者您发现有人私自使用您的用户簿记服务或密码，请您立刻通知银行。若您发现任何未经许可的交易，或者有人已经知悉您的用户簿记服务和密码，或者您发现您的交易和提现记录有误，您必须立即通知银行，这是您的义务和责任，<strong>且银行对于您因上述冒用或盗用您簿记服务和密码行为产生的损失不承担任何责任。</strong></p>
		<p><b>（十三）</b>如果您发现有未经您授权产生的交易或资金提现，您必须立刻通知银行，这是您的义务和责任。您的及时通知将可能有助于保护您的权益。</p>
		<p><b>（十四）</b><strong>您同意银行有权基于单方判断，包含但不限于认为您已经违反本服务条款的明文规定及精神，或在发现异常交易或有疑异或有违法之虞时不经事先通知而冻结您的簿记服务、密码，并拒绝您使用本服务之部份或全部功能。您在希望解除冻结或索回您在专用簿记服务中的款项时，银行有权要求您提供合法有效的交易证据，必要时您应就您提供的证据向银行或有关司法机构予以说明。否则，您应独立承担由此造成的一切损失。</strong></p>
		<p><b>（十五）</b>在发生任何违法交易、盗窃或诈骗行为等触犯刑法之情况时，银行将按照有关司法机关之指示行事。由此造成簿记服务冻结或款项转移而涉及您的合法权益时，您应及时主动向银行或有关司法机构提供有关交易证据，必要时您应就您提供的证据向银行或有关司法机构进行说明，如未能提供真实有效的交易证据，您应独立承担由此造成的一切损失。</p>
		<p><b>（十六）</b>证据保留：为使您的利益在发生簿记服务冻结并索回款项时得到有效的保护，您需保留与实际交易有关的一切证据。这些证据至少应包括借款合同、银行卡交易记录、交易双方姓名、交易日期、交易金额、交易商品或服务内容等。有关交易信息应保留至少18个月。</p>
		<h1>五、赔偿责任限制</h1>
		<p><b>（一）</b>因下列原因，致使您无法使用本服务或造成您损失的，银行将不承担任何责任：银行制定且预先通知的系统停机维护期间；因电信机线设备原因以致发生错误、迟滞中断或不能传递；因台风、地震、海啸、洪水、停电、战争、电脑黑客等不可抗力之因素，造成银行系统障碍不能正常执行业务。</p>
		<p><b>（二）</b><strong>鉴于目前电子商务（含在线支付）的软硬件环境尚未成熟，且有关安全保护技术和措施在其本身不断得到改进和完善的同时，也在不断面临新的挑战。因此，您使用本服务将存在一定的风险，该等风险包括但不限于：您的用户簿记服务和密码被他人冒用、盗用、或有其他任何未经合法授权之情形发生；或不法分子盗用您的银行卡；或对方拒绝付款等。这些风险均会给您造成经济损失，除非您能够充分证明银行对损失的形成存在故意或重大过失，银行将不承担任何责任。</strong></p>
		<h1>六、隐私保护</h1>
		<p>银行对用户个人资料的收集仅用于本资金系统使用，您同意使用您的真实姓名、电子邮件、手机号码、住址、生日或簿记服务登录，作为您使用本服务支付他人或他人支付您的有效凭证。</p>
		<h1>七、准据法与管辖法院</h1>
		<p>本服务条款之解释与适用，以及与服务条款有关的争议，均应依照中华人民共和国法律予以处理，由此产生的争议由银行股份有限公司所在地的法院管辖。</p>
		<h1>八、送达</h1>
		<p>除银行或金吉利宝与您签署的具体协议另有约定外，银行或金吉利宝向您发出的任何通知、资料、文件等基于本协议或本服务产生的信息，您同意银行或金吉利宝可通过网站公告、电子邮件、短信或其他有效方式送达前述信息，信息自发送之日视为已送达。如因信息传输、您未能在发送之前提交最新的电子邮件或手机号码等原因导致您未能在发送当日收到该等信息，银行或金吉利宝无需承担任何责任。</p>
		<h1>九、专用簿记授权声明：</h1>
		<p>鉴于此专用簿记服务为本人利用金吉利宝运营管理的平台进行资金出借的实名制簿记服务（以下简称“专用服务”），且本人已与金吉利宝签署相关服务合同，授权本人资金的存取都通过金吉利宝在银行的账户进行。</p>
		<p><strong>委托充值：</strong>本人确认授权金吉利宝可替代本人进行充值行为，即金吉利宝将依据与本人的双方协议代为操作从本人授权之银行账户中扣收本人资金，该行为将依据充值操作结果在簿记系统中相应记录，该资金将存放于金吉利宝在银行的专用账户中。</p>
		<p><strong>委托提现：</strong>本人确认授权给金吉利宝对专用账户进行委托提现，即金吉利宝将可代为操作从专用簿记服务发起提现申请，申请款项将仅可付至开立专用簿记服务时授权绑定的本人银行簿记服务中，相关交易方（金吉利宝与本人）分别按照相关合同或协议承担提现申请对应的手续费等相应费用。当本人或金吉利宝根据有关流程规定和条件给出「提现」指示并在缴纳上述费用后，银行应于三个工作日内将相关款项按照指示从金吉利宝在银行的账户提取至指定账户。银行拥有制定及不时调整提现最低额度以及提现频率之权利。<strong>本人同意银行与金吉利宝有权基于单方判断，在银行发现本人提出大额提现要求或其他银行认为的可能异常交易时，要求本人向银行提供合法有效的交易证据。在本人未能按要求提供交易证据之前，银行有权不执行本人的提现要求并将交易金额退回至金吉利宝在银行的专用账户中，因此产生的所有责任均由本人承担。</strong></p>
		<p><strong>本人同意完全承担因上述授权行为所产生的相关责任。该簿记服务的终止需得到本人和金吉利宝的共同认可。</strong></p>
	</div>
</div>