<div ng-controller="billDetailCtrl" ng-class="{1: 'newhand-detail',3: 'newpro-detail'}[product.type]">
<float-menu></float-menu>
	<div class="bread-nav-wrapper new-bread-wrapper">
		<div class="bread-nav">
			<div class="bread-box"><span ng-repeat="item in path"><a href="{{item.url}}">{{item.pathName}}</a> > </span>{{title}}</div>
		</div>
	</div>

	<div class="bill-detail-wrap">
		<div class="bill-detail-content">
			<div class="bill-detail-box">
				<div class="bill-detail">
					<div class="detail-box">
						<div class="title">
							<i class="bill-newhand" ng-if="product.type==1"></i>
							<div class="feature-box">
								<div class="protocol"><a href="/loan" target="_blank" ng-if="product.fid == undefined">查看金吉利宝服务协议 <i>></i></a></div>{{product.fullName}}
	                        </div>
						</div>
						<div class="list-wrap" ng-class="{6: 'end-list',7: 'end-list',8: 'end-list',9: 'end-list'}[product.status]"> <!--  || {1: 'newhand-wrap'}[product.type] -->
							<table class="list-inner-table">
								<tr class="top">
									<td width="10%"></td>
									<td width="35%">
										<div class="rate">
											<b><strong>{{product.rate}}</strong>%<i ng-if="product.activityRate>0 && (specialRate == undefined || specialRate == 0)" class="">+{{product.activityRate}}%</i>
												<i ng-if="specialRate != undefined && specialRate > 0">+{{specialRate+product.activityRate}}%</i>
											</b>
										</div>
									</td>
									<td width="3%"></td>
									<td width="15%">
										<div><b class="normal">{{product.deadline}}</b><span>天</span></div>
									</td>
									<td width="5%"></td>
									<td width="35%">
										<div><b class="normal">{{product.surplusAmount | currency:''}}</b><span> 元</span></div>
									</td>
								</tr>
								<tr>
									<td></td>
									<td><p>历史年化收益</p></td>
									<td></td>
									<td><p>投资期限</p></td>
									<td></td>
									<td><p>可投资金额</p></td>
								</tr>

							</table>
							<table class="bottom-info">
								<tr>
									<td ng-if="product.type!=1" width="30%">
										<i></i><span ng-if="product.repayType==1">到期一次还本付息</span><span ng-if="product.repayType==2">按月付息到期还本</span><span ng-if="product.repayType==3">等本等息 按周回款</span><span ng-if="product.repayType==4">等本等息 按月回款</span><span ng-if="product.repayType==5">其他</span>
									</td>
									<td ng-if="product.type==1" width="30%">
										<i></i><span>到期一次还本付息</span>
									</td>
									<td ng-if="product.type!=1" width="40%">
										<i></i><span>项目总额{{product.amount| currency:''}}元</span>
									</td>
									<td width="30%">
										<i></i><span class="ng-binding" ng-if="product.type==2 || product.type==1">投资成功次日计息</span><span class="ng-binding" ng-if="product.type==3">募集成功次日计息</span>
									</td>
								</tr>
							</table>
						</div>
						
					</div>
				</div>
				<div class="bill-form-wrap">
					<div class="my-rest-wrap" ng-if="product.status == 5 && isLogin">
						<div class="inner-rest">账户余额：<span>{{account.balance| isNumber2}} 元</span></div>
						<div class="inner-rest">预期收益：<span>{{((product.rate/100 + product.activityRate/100 + specialRate/100) / 360 * product.nowNum * product.deadline) | isNumber2}} 元</span></div>
					</div>
					
					<div ng-if="product.status == 5 && isLogin" class="form-box">
						<form>
							<input style="display:none">
							<input type="password" style="display:none">
							
							<div class="input-box">
								<ul>
									<!--<li ng-if="product.type != 3" ng-show="(a | isRegister).register" ng-click="onClick('cut')">
										<span ng-class="{true:'cut',false:'cut nouse'}[product.nowNum > product.leastaAmount]">-</span>
									</li>-->
									<li ng-if="product.type != 3">
										<input ng-disabled="(!isNewGay && (a | isRegister).register && (product.type == 1)) || (!isNewGay && (a | isRegister).register && (product.type == 3))" ng-blur="onClick('keyUpBalance',$event,amount)" class="text" type="text" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'') " name="amount" autocomplete="off" ng-model="product.nowNum" placeholder="最低{{product.leastaAmount}}元起投" /><!--  ng-keyUp='isNumCash=false'-->
									</li>
									<li ng-if="product.type == 3">
										<input ng-disabled="(!isNewGay && (a | isRegister).register && (product.type == 1)) || (!isNewGay && (a | isRegister).register && (product.type == 3))" ng-blur="onClick('keyUpBalance',$event,amount)" class="text newhandtext" type="text" onkeyup="this.value=this.value.replace(/[\D\.]/gi,'') " name="amount" autocomplete="off" ng-model="product.nowNum" placeholder="{{product.leastaAmount}}元起投，单笔最高{{product.maxAmount/10000}}万元" /><!--  ng-keyUp='isNumCash=false'-->
									</li>
									<!--<li ng-if="product.type != 3" ng-show="(a | isRegister).register" ng-click="onClick('add')">
										<span ng-class="{true:'add',false:'add nouse'}[product.nowNum < product.maxAmount]">+</span>
									</li>-->
								</ul>
							</div>
							<span class="error" style="color:red;position: absolute;" ng-show="(product.nowNum-product.leastaAmount)%product.increasAmount != 0 && !(product.nowNum<product.leastaAmount) && !(product.nowNum>product.maxAmount)">注意：输入金额应该是{{product.increasAmount}}的倍数</span>

							<div ng-if="product.type != 1">
								<div class="profit">剩余可投：<b>{{product.surplusAmount | currency:''}}</b> 元</div>
							</div>
							<div ng-if="product.type == 1" style="position:relative;">
								<div class="profit" ng-if="product.activityRate != undefined && product.activityRate>0">预计利息收益：<b>{{((product.rate + product.activityRate)/100 / 360 * product.nowNum * product.deadline) | isNumber2 }}</b> 元</div>
								<div class="profit" ng-if="product.activityRate == undefined || product.activityRate<=0">预计利息收益：<b>{{(product.rate/100 / 360 * (product.nowNum) * product.deadline) | isNumber2}}</b> 元</div>
								<div ng-if="!isNewGay && (a | isRegister).register && (product.type == 1)" style="position:absolute;width:260px;top:12px;background-color:white;">
									<img ng-if="!XQ.newHandInvested" src="/images/activity/xsb-xyh.png" alt="" style="width:100%;display:block;">
									<img ng-if="XQ.newHandInvested" src="/images/activity/xsb-ytz.png" alt="" style="width:100%;display:block;">
								</div>
							</div>
							<div class="sub-box">
								<!-- 新手标 -->
								<div style="position: absolute;left: 0;top: 500px;">
								</div>
								<input type="submit" 
								ng-if="(a | isRegister).register && (product.type == 1) && isNewGay" 
								ng-disabled="!playSound ||(product.nowNum<product.leastaAmount)||(product.nowNum > product.maxAmount) ||(product.nowNum-product.leastaAmount)%product.increasAmount != 0 || isNumCash || product.nowNum==undefined" 

								ng-click="onClick('立即投资')" 

								class="sub invest-btn"

								ng-value="{true:'立即投资',false:'立即投资'}[(account.balance < product.leastaAmount)||(account.balance - product.nowNum < 0)]" />

								<input type="submit" 
								ng-if="(a | isRegister).register && (product.type == 1) && isNewGay" 
								ng-disabled="!playSound ||(product.nowNum<product.leastaAmount)||(product.nowNum > product.maxAmount) ||(product.nowNum-product.leastaAmount)%product.increasAmount != 0 || isNumCash || product.nowNum==undefined" 

								ng-click="onClick('立即投资')" 

								class="sub invest-btn"

								ng-value="{true:'投资≥5000元激活体验金',false:'立即投资'}[!playSound ||(product.nowNum<product.leastaAmount)||(product.nowNum > product.maxAmount) ||(product.nowNum-product.leastaAmount)%product.increasAmount != 0 || isNumCash || product.nowNum==undefined]" />
					

								<!-- 常规 (account.balance < product.leastaAmount)|||| (account.balance - product.nowNum < 0)-->

								<!-- 把type是3的新手标排除 -->
								<input type="submit" class="sub invest-btn"
									ng-if="(a | isRegister).register && product.type != 1&& product.type != 3&&!(product.surplusAmount < product.nowNum) " 
									ng-disabled="!playSound || (product.nowNum<product.leastaAmount)||(product.nowNum > product.maxAmount) ||(product.nowNum-product.leastaAmount)%product.increasAmount != 0 || isNumCash || product.nowNum==undefined" 
									ng-click="onClick('立即投资')" 
									ng-value="{true:'立即投资',false:'立即投资'}[(account.balance < product.leastaAmount)||(account.balance - product.nowNum < 0)]" 
								/>
								
								<!-- type是3的新手标 -->
								<input type="submit" 

								ng-if="(a | isRegister).register && product.type == 3 && !(product.surplusAmount < product.nowNum) && isNewGay" 
								ng-disabled="!playSound || (product.nowNum<product.leastaAmount)||(product.nowNum > product.maxAmount) ||(product.nowNum-product.leastaAmount)%product.increasAmount != 0 || isNumCash || product.nowNum==undefined" 

								ng-click="onClick('立即投资')" 

								class="sub invest-btn"

								ng-value="{true:'立即投资',false:'立即投资'}[(account.balance < product.leastaAmount)||(account.balance - product.nowNum < 0)]" />

								<input type="submit" ng-if="!(a | isRegister).register" ui-sref="login({backPath: 'main.billDetail'})" class="sub invest-btn" value="请登录后查看" />

								<input type="submit" ng-if="(a | isRegister).register && product.type != 1 && product.surplusAmount < product.nowNum" ng-disabled="true"  class="sub invest-btn" value="理财产品金额不足" />
								<input type="submit" ng-if="!isNewGay && (a | isRegister).register && (product.type == 1 || product.type == 3)" class="sub invest-btn" ui-sref="main.invest" value="请关注其他项目" />
							</div>
							<!--<div class="checkbox-mod" ng-show="product.type!=1">
								<label><input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="playSound"  />我已阅读并同意<div class="protocol" ng-class="{true:'okprotocol'}[playSound == true]"><a href="/loan" target="_blank" ng-if="product.fid == undefined">《借款协议》（范本）</a><p>本协议为借款协议范本，仅做参考。<br>投资后即刻生成正式有效协议合同。</p></div>
								</label>
							</div>-->
						</form>

					</div>
					<div ng-if="product.status == 5 && !isLogin" class="fin-box">
						<div class="icon"><img src="images/invest/nologin.png"></div>
						<a class="invest-btn" ui-sref="login({backPath: 'main.billDetail'})">立即登录 即可投资</a>
					</div>
					<div class="fin-box" ng-class="{1: 'has-book',true: 'has-book'}[isReservation]" ng-if="product.status == 6 || item.status == 7 || product.status == 8 || product.status == 9">
						<!--<span ng-class="{6: 'bill-detail-end',7: 'bill-detail-end',8: 'bill-detail-wait',9: 'bill-detail-already'}[product.status]"></span>-->
						<div class="icon" ng-if="product.status==6||product.status==7">募集结束</div>
						<div class="icon" ng-if="product.status==8"><img src="images/invest/wait.png"></div>
						<div class="icon" ng-if="product.status==9"><img src="images/invest/huan.png"></div>
						<a href="/main/invest" class="invest-btn">选择更多产品</a>
					</div>
					<!-- <div class="book-box form-box" ng-if="product.pert == 100 && product.atid"> -->
					<div class="book-box form-box" ng-if="isReservation">
						<input type="button" class="bookbtn" ng-if="isLogin && isReservation" ng-click="showBookDialog()" value="立即预约下期" ng-disabled="book.playSound == false">
						<!-- <a href="/dl" class="bookbtn" ng-if="!isLogin && product.atid">请登录后查看</a> -->
						<a href="/dl" class="bookbtn" ng-if="!isLogin && isReservation">立即预约下期</a>
						<div class="checkbox-mod" ng-show="product.type!=1" ng-if="(!isLogin && product.atid) || (isLogin && isReservation)">
							<label><input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="book.playSound"  />我已阅读并同意<div class="protocol" ng-class="{true:'okprotocol'}[book.playSound == true]"><a href="/loan" target="_blank">《借款协议》（范本）</a><p>本协议为借款协议范本，仅做参考。<br>投资后即刻生成正式有效协议合同。</p></div>
							</label>
						</div>
					</div>
				</div>
				<div class="newhand-wait" ng-if="!isNewGay && product.type==3 && isLogin">
					<div class="bill-newhandwait"></div>
					<p>仅限新注册用户投资，每位新用户仅有一次机会。</p>
					<a href="/main/invest" class="choose-more">选择更多产品</a>
				</div>
			</div>

			<!-- <div class="interest-process" ng-if="product.type!=1">
				<div class="center-wrap" ng-if="product.repayType!=3 && product.repayType!=4">
					<div class="title"><i class="bill-interest"></i><span>计息流程</span></div>
					<div class="process-bg bill-process-one" ng-if="product.status == 6 || product.status == 5"></div>
					<div class="process-bg bill-process-two" ng-if="product.status == 8"></div>
					<div class="process-bg bill-process-three" ng-if="product.status == 9"></div>
					<div class="time"><p class="set">{{product.establish | date:'yyyy年MM月dd日'}}</p><p class="expire">{{product.expireDate | date:'yyyy年MM月dd日'}}</p></div>
				</div>
				<div class="center-wrap" ng-if="product.repayType==3 || product.repayType==4">
					<div class="title"><i class="bill-interest"></i><span>计息流程</span></div>
					<div class="process-bg bill-wait-one" ng-if="product.status == 6 || product.status == 5"></div>
					<div class="process-bg bill-wait-two" ng-if="product.status == 8"></div>
					<div class="process-bg bill-wait-three" ng-if="product.status == 9"></div>
					<div class="time"><p class="set" style="padding-left: 364px;">{{product.establish | date:'yyyy年MM月dd日'}}</p><p class="expire">{{firstRepayDate}}</p><p class="expire" style="padding-left: 244px;">{{product.expireDate | date:'yyyy年MM月dd日'}}</p></div>
					<i class="period">等本等息 分{{repayPeriod}}期回款</i>
				</div>
			</div> -->

			<div class="interest-process">
				<div class="title"><b>市场有风险，投资需谨慎</b><span>产品周期解析</span></div>
					
				<div class="center-wrap">
					<div><img src="images/invest/process.png"></div>
				</div>
			</div>

			
			<div class="invest-detail-info">
				<div class="invest-detail-title">
					<span ng-class="{active:active==1}" ng-click="activeFn(1)">产品介绍</span>
					<span ng-class="{active:active==2}" ng-click="activeFn(2)">债权信息</span>
					<span ng-class="{active:active==3}" ng-click="activeFn(3)">保障措施</span>
					<span ng-class="{active:active==4}" ng-click="activeFn(4)">投资记录</span>
				</div>
				<div class="invest-detail-content" ng-if="active==1">
					<table class="invest-detail-table" border="0" cellpadding="0" cellspacing="1" width="100%" >
						<tr>
							<th width="200" valign="top">
								产品名称
							</th>
							<td>
								{{product.fullName}}
							</td>
						</tr>
						<tr>
							<th>
								 产品周期
							</th>
							<td>
								{{product.deadline}}天
							</td>
						</tr>
						<tr>
							<th>
								历史年化收益率
							</th>
							<td>
								{{product.rate}}%
									<i ng-if="product.activityRate>0 && (specialRate == undefined || specialRate == 0)" class="">+{{product.activityRate}}%</i>
									<i ng-if="specialRate != undefined && specialRate > 0">+{{specialRate+product.activityRate}}%</i>
							</td>
						</tr>
						<tr>
							<th>
								起投金额
							</th>
							<td>
								{{product.leastaAmount | isNumber2}}元
							</td>
						</tr>
						<tr>
							<th>
								计息日期
							</th>
							<td>
								T(投标日)+1天
							</td>
						</tr>
						<tr>
							<th>
								起息日期
							</th>
							<td>
								T(满标日)+1天
							</td>
						</tr>
						<tr>
							<th>
								还款方式
							</th>
							<td>
								到期一次性还本付息
							</td>
						</tr>
						<tr>
							<th>
								单笔上限
							</th>
							<td>
								100万元
							</td>
						</tr>
					</table>
				</div>
				<div class="invest-detail-content" ng-if="active==2">
					<table class="invest-detail-table" border="0" cellpadding="0" cellspacing="1" width="100%" >
						<tr>
							<th width="200" valign="top">
								项目介绍
							</th>
							<td>
								{{product.introduce}}
							</td>
						</tr>
						<tr>
							<th>
								 借款用途
							</th>
							<td>
								{{product.borrower}}
							</td>
						</tr>
						<tr>
							<th>
								认证信息
							</th>
							<td>
								<ul class="rzxx">
									<li ng-repeat="item in projectList track by $index">
										{{item}}
										<img src="/images/index/ico-aqrz.png" />
									</li>
								</ul>
							</td>
						</tr>
						<tr>
							<th>
								风控评级
							</th>
							<td>
								<dl class="fkpg">
									<dt>
										<span>{{scoreList.icon}}</span>
									</dt>
									<dd>
										<ul class="rzxx">
											<li ng-repeat="item in riskRatingList track by $index" ng-if="item.status==1">
												{{item.name}}：{{item.rating}}
											</li>
										</ul>
									</dd>
								</dl>
							</td>
						</tr>
						<tr>
							<th>
								保障资料
							</th>
							<td>
								<a ng-href="{{item.bigUrl}}" target="_blank" ng-repeat="item in pics"><img ng-src="{{item.bigUrl}}" class="bzzl" /></a>
							</td>
						</tr>
						<tr>
							<th>
								服务说明
							</th>
							<td>
								《金吉利宝借款协议》      《金吉利宝免责声明》
							</td>
						</tr>
					</table>
				</div>
				<div class="invest-detail-content" ng-if="active==3">
					<table class="invest-detail-table" border="0" cellpadding="0" cellspacing="1" width="100%" >
						<tr ng-repeat="item in extendInfos track by $index">
							<th width="200" valign="top">
								{{item.title}}
							</th>
							<td ng-bind-html="item.content|textarea">
																
							</td>
						</tr>
					</table>
				</div>
				<div class="invest-detail-content" ng-if="active==4">
					<table class="invest-log-list" border="0" cellpadding="0" cellspacing="1" width="100%" >
						<tr>
							<th>序号</th>
							<th>投资人</th>
							<th>投资金额（元）</th>
							<th>投资时间</th>
						</tr>
						<tr ng-repeat="item in investList track by $index">
							<td>{{$index+1}}</td>
							<td>{{item.mobilephone}}</td>
							<td>{{item.amount|currency:""}}</td>
							<td>{{item.investTime|date:"yyyy/MM/dd HH:mm:ss"}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="mask-imgs">
		<!-- <div class="bill-turn-left"></div> -->
		<div class="swiper-container1">
			<ul class="imgs swiper-wrapper"><li ng-repeat="item in pics" class="swiper-slide" repeat-finish="renderFinish()"><img src="{{item.bigUrl}}"></li></ul>
		</div>
		<div class="close">×</div>
		<!-- <div class="bill-turn-right"></div> -->
	</div>

	<div class="mask-imgs">
		<div class="swiper-container2">
			<ul class="imgs swiper-wrapper">
				<li class="swiper-slide"><img src="images/prove/sample-y.jpg"></li>
				<li class="swiper-slide"><img src="images/prove/sample-s.jpg"></li>
			</ul>
		</div>
		<div class="close">×</div>
	</div>

	<form name="storageForm" id="storageForm" method="POST" style="height: 0;">
		<input type="hidden" id="storageJson" name="json" value="">
	</form>

</div>