.gszz-wrapper .license {
  margin-bottom: 88px;
}
.gszz-wrapper .license .nav {
  padding-left: 21px;
  border-bottom: 1px solid #ccc;
}
.gszz-wrapper .license .nav li {
  float: left;
  margin: 25px 0;
  padding: 0 21px;
  font-size: 16px;
  border-right: 1px solid #ccc;
}
.gszz-wrapper .license .nav li a {
  color: #ccc;
}
.gszz-wrapper .license .nav li a.now {
  color: #000;
}
.gszz-wrapper .license .nav li:last-child {
  border-right: none;
}
.gszz-wrapper .license .license_title {
  margin: 33px 0;
  padding-left: 42px;
  font-size: 20px;
}
.gszz-wrapper .license .license_title i {
  margin-top: 3px;
  height: 20px;
  border-left: 4px solid #000;
  margin-right: 18px;
}
.gszz-wrapper .license img {
  display: block;
  margin: 0 auto;
}
