.mtbd_wrapper {
  width: 940px;
}
.mtbd_wrapper .banner {
  height: 210px;
  background: url("/images/wzgg/cooperate_banner.png");
}
.mtbd_wrapper .content {
  padding: 0 42px;
  width: 100%;
  box-sizing: border-box;
}
.mtbd_wrapper .content li {
  height: 67px;
  line-height: 67px;
  border-bottom: 1px solid #eee;
}
.mtbd_wrapper .content li a {
  color: #333;
  font-size: 16px;
}
