<div class="activity_newyear">
    <div class="banner">
        <div class="banxin">
            <img src="images/activity/newyear_logo.png" alt="">
            <div class='back' ui-sref="main.home"></div>
        </div>
    </div>
    <div class="content banxin">
        <h3>活动时间： 2018年1月31日-2018年2月28日</h3>
        <div class="activity_list">
            <div class="title">
                <img src="/images/activity/st_newyear.png" alt="">
            </div>
            <div class="intro_table">
                <img src="/images/activity/newyear_money1.png" alt="" class='money'>
                <img src="/images/activity/st_table.png" alt="">
            </div>
            <div class="activity_rules">
                <h3>活动规则：</h3>
                <p>1、所有用户注册金吉利宝即可获得618元新手礼包</p>
                <p>2、活动期间，用户首投常规标的（35天以上标）可获得对应金额的一个返现红包</p>
                <p>3、用户首投所获的返现红包投资100元常规标的（35天以上标）可激活</p>
                <p>4、每位用户只有一次获得返现红包机会；</p>
                <p>* 金吉利宝保留此次活动的最终解释权 如有疑问请拨打客服热线：400-920-8399</p>
            </div>
        </div>
        <div class="items_list">
            <div class="title">
                <img src="/images/activity/ft_newyear.png" alt="">
            </div>
            <img src="/images/activity/newyear_money2.png" alt="">
            <ul class='clearfix'>
                <!-- <li>
                    <a href="">
                        <p>￥6，988.0元</p>
                        <img src="/images/activity" alt="">
                    </a>
                </li> -->
                <li>
                    <a href="">
                        <img src="/images/activity/mac_Air.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/images/activity/mi_Air.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/images/activity/ipad.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/images/activity/mi_tv.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/images/activity/jd_card1000.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/images/activity/sony_earphone.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/images/activity/jd_card500.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/images/activity/phonecard_money300.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/images/activity/phonecard_money200.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/images/activity/phonecard_money100.png" alt="">
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="/images/activity/download_newyear.png" alt="">
                    </a>
                </li>
            </ul>
        </div>
        <div class="rules">
            <h3>活动规则:</h3>
            <p>1、本活动仅限复投“35天标的”参与；</p>
            <p>2、活动时间内复投累计金额达到相应条件即可免费领取奖品，活动可以使用新手红包，同时仍将获得投资收益；</p>  
            <p>3、活动期内您只能领取1份相应的奖品；</p>  
            <p>4、用户需到平台订阅号（金吉订阅号）留言</p>
            <p>（留言格式：平台账号：XX    收件地址：XX    收件人：XX   联系电话：XX   领取礼品：XX）</p>
            <p>5、客服人员将在活动结束后3个工作日内联系获奖用户，核实收件信息；</p>
            <p>6、礼品由活动结束后，7个工作日内安排发放，如由于用户个人原因无法联络发放奖品，奖品将视为主动放弃。奖品无法提供发票，如有任何质量问题，或对实物奖品规格、型号有疑问，请联系客服处理；</p>
            <p>7、活动期内采用非正常途径或手段获得的奖励无效，金吉利宝有权根据市场情况调整奖励政策；</p>
            <p> * 本活动由金吉利宝提供，与Apple Inc.公司无关，如有疑问可拨打：400-920-8399。</p>
        </div>
    </div>
</div>