<div class="common_activity">
    <!-- 顶部开始 -->
    <div class="top">
        <div class="banxin">
            <p class="tel">客服热线：400-920-8399</p>
            <div class="top-nav">
                <a href="main/help/dlzc" target="_blank">帮助中心</a>
                <span>|</span>
                <div class="appCode">
                    <a>下载APP</a>
                    <div>
                        <img src="/images/common/ewm_m_h.png">
                        <p>手机客户端
                            <br>APP下载</p>
                    </div>
                </div>
                <span style="margin-left: -4px;">|</span>
                <div class="appCode">
                    <a>关注我们</a>
                    <div>
                        <img src="/images/common/wechat-code.png">
                        <p>扫一扫
                            <br>关注官方微信</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 顶部结束 -->

    <!-- 中间容器 -->
    <div ui-view=""></div>

    <!-- 底部开始 -->
    <div class="footer">
        <ul class='clearfix'>
            <li>
                <a href="main/more/gywm">公司简介</a>
                <span>|</span>
            </li>
            <li>
                <a href="main/help/dlzc">常见问题</a>
                <span>|</span>
            </li>
            <li>
                <a href="main/aqbz">安全保障</a>
                <span>|</span>
            </li>
            <li>
                <a href="main/more/lxwm">联系我们</a>
                <!-- <span>|</span> -->
            </li>
            <!-- <li>
                <a href="">诚聘英才</a>
            </li> -->
        </ul>
        <p>沪ICP备18001655号
            <span>|</span>
            &copy;上海汴盛金融信息服务有限公司v1.0.0
        </p>
    </div>
    <!-- 底部结束 -->
</div>