<div class="moment-mask">
	<div class="swiper-container">
		<ul class="swiper-wrapper">
			<li class="swiper-slide"><img src="images/review/momenta/1.jpg"></li>
			<li class="swiper-slide"><img src="images/review/momenta/2.jpg"></li>
			<li class="swiper-slide"><img src="images/review/momenta/3.jpg"></li>
			<li class="swiper-slide"><img src="images/review/momenta/4.jpg"></li>
			<li class="swiper-slide"><img src="images/review/momenta/5.jpg"></li>
			<li class="swiper-slide"><img src="images/review/momenta/6.jpg"></li>
			<li class="swiper-slide"><img src="images/review/momenta/7.jpg"></li>
			<li class="swiper-slide"><img src="images/review/momenta/8.jpg"></li>
			<li class="swiper-slide"><img src="images/review/momenta/9.jpg"></li>
			<li class="swiper-slide"><img src="images/review/momenta/10.jpg"></li>
			<li class="swiper-slide"><img src="images/review/momenta/11.jpg"></li>
			<li class="swiper-slide"><img src="images/review/momenta/12.jpg"></li>
			<li class="swiper-slide"><img src="images/review/momenta/13.jpg"></li>
			<li class="swiper-slide"><img src="images/review/momenta/14.jpg"></li>
			<li class="swiper-slide"><img src="images/review/momenta/15.jpg"></li>
			<li class="swiper-slide"><img src="images/review/momenta/16.jpg"></li>
			<li class="swiper-slide"><img src="images/review/momenta/17.jpg"></li>
			<li class="swiper-slide"><img src="images/review/momenta/18.jpg"></li>
			<li class="swiper-slide"><img src="images/review/momenta/19.jpg"></li>
			<li class="swiper-slide"><img src="images/review/momenta/20.jpg"></li>
			<li class="swiper-slide"><img src="images/review/momenta/21.jpg"></li>
		</ul>
	</div>
	<div class="close" ng-click="closeDialog()"></div>
</div>