<div class="activity_invest_friends">
    <div class="container">
        <div class="logo">
            <a href="main/home"></a>
        </div>
        <div class="banner"></div>

        <!-- 内容 -->
        <div class="content banxin">
            <div class="c_title c_title1"></div>
            <div class="receive_self clearfix">
               <img src="/images/activity/cl1_i_f.png" alt="" class="self_left left">
               <div class="self_right right">
                  <p><span>1</span>%佣金奖励</p>
                  <p>好友注册之日起30天内，<br>
                    首次投资≥10000元，您可获得1%的佣金奖励
                  </p>
                  <p>举个例子</p>
                  <img src="/images/activity/line1_i_f.png" alt="">
                  <div class='accrul'>
                      <img src="images/activity/money_i_f.png" alt="" class='left'>
                      <p>如好友投资35天标的<span>10000</span>元 X <span>1%</span> = 100元</p>
                  </div>
               </div>
            </div>

            <div class="c_title c_title2"></div>
            <div class="receive_friends clearfix">
                <div class="cash left">
                    <img src="/images/activity/c2_i_f.png" alt="">
                    <p>好友完成注册即可获得</p>
                    <p>618返现红包</p>
                </div>
                <div class="ewm right">
                    <img src="/images/activity/ewm_i_f.png" alt="">
                    <h3>微信分享</h3>
                    <p>邀请好友，分享财富吧～</p>
                </div>
            </div>
        </div>

        <!-- 规则 -->
        <div class="rules">
            <div class="rules_title">
                活动规则：
            </div>
            <p>1. 好友必须通过您提供的专属链接或专属邀请码进行注册，并在活动期间完成注册及首投，才能建立邀请关系获得返现，本活动返现与其他形式的首投返现不可同时享受。</p>
            <p>2. 您邀请的好友在注册之日起30天内完成首投（在平台第一次投资，且金额≥10000元的产品），即可获得1%的佣金奖励。</p>
            <p>3. 佣金只针对好友首次投资的35天、70天、120天期限的标的，投新手标或其他活动标则无佣金。</p>
            <p>4. 当您的好友完成首投后，请于登录活动页面点击领取佣金，系统将在2小时内将对应额度的佣金奖励至您的平台账户中。</p>
            <p>*本活动由金吉利宝发起并就活动内容作出解释和说明，任何疑问请联系金吉利宝客服：
                400-920-8399 <br>苹果公司（Apple Inc.）非活动赞助商，本活动与苹果公司无关。</p>
        </div>
    </div>
</div>