.common_activity .top {
  height: 32px;
  line-height: 32px;
  background: #F7F7F7;
  font-size: 12px;
  color: #999999;
}
.common_activity .tel {
  float: left;
}
.common_activity .top-nav {
  float: right;
}
.common_activity .top-nav span {
  margin: 0 -3px 0 12px;
}
.common_activity .top-nav a {
  color: #999999;
}
.common_activity .top-nav a:hover {
  color: #fb6262;
}
.common_activity .top-nav .appCode {
  display: inline-block;
  position: relative;
  padding: 0 12px;
  cursor: pointer;
}
.common_activity .top-nav .appCode div {
  position: absolute;
  top: 30px;
  right: -1px;
  width: 120px;
  border: 1px solid #f5f5f5;
  border-top: none;
  background: #fff;
  z-index: 99;
  text-align: center;
  display: none;
}
.common_activity .top-nav .appCode div img {
  display: block;
  margin: 12px auto 0;
  width: 108px;
}
.common_activity .top-nav .appCode div p {
  line-height: 20px;
  color: #8d8d8d;
  padding: 5px 0;
}
.common_activity .top-nav .appCode:hover {
  text-decoration: none;
  background: #fff;
}
.common_activity .top-nav .appCode:hover i {
  text-decoration: underline;
}
.common_activity .top-nav .appCode:hover div {
  display: block;
}
.common_activity .footer {
  height: 156px;
  background-color: #333;
  color: #fff;
  font-size: 18px;
}
.common_activity .footer ul {
  width: 417px;
  margin: 0 auto;
  padding: 36px 0;
}
.common_activity .footer p {
  text-align: center;
}
.common_activity .footer p span {
  padding: 0 24px;
}
.common_activity .footer li {
  float: left;
}
.common_activity .footer li a {
  color: #fff;
}
.common_activity .footer li span {
  padding: 0 15px;
}
