<div class="home-wrapper">
    <div class="home-banner">
        <!-- <div class="swiper-container" id='swiper1'>
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url('/images/home/banner2.png');"><a href="activity/newyear" target="_blank"></a></div>
                <div class="swiper-slide" style="background-image:url('/images/home/banner1.jpg');"><a href="activity/investFriends" target="_blank"></a></div>
            </div>
            <div class="swiper-pagination"></div>
        </div> -->
        <a href="activity/investFriends" target="_blank"><div class="swiper-slide" style="background-image:url('/images/home/banner1.jpg');"></div></a>

    </div>
    <div class="index-notice">
        <div>
            <img src="/images/index/trumpet.png" height="18" />
            <a ui-sref="main.more.ggxq({newId:notice.arti_id})">{{notice.title}}</a>
            <a ui-sref="main.more.wzgg" class="more">更多公告</a>
        </div>
    </div>
    <div class="home-advantage">
        <div>
            <div>
                <img src="/images/home/intro1.png" alt="">
                <div>
                    <h3>国资平台</h3>
                    <p>国企投资 背景雄厚</p>
                </div>
            </div>
            <div>
                <img src="/images/home/intro2.png" alt="">
                <div>
                    <h3>多重保障</h3>
                    <p>三方资金 安全托管</p>
                </div>
            </div>
            <div>
                <img src="/images/home/intro3.png" alt="">
                <div>
                    <h3>数据风控</h3>
                    <p>风控审核 项目优选</p>
                </div>
            </div>
            <div>
                <img src="/images/home/intro4.png" alt="">
                <div>
                    <h3>安全可靠</h3>
                    <p>律所支持 合规审查</p>
                </div>
            </div>
        </div>
    </div>

    <div class="home-main">
        <div class="home-main-container">
            <div class="product">
                <header><span></span>产品推荐</header>
                <div class="cp-newuser">
                    <div class="img-box">
                        <img src="/images/home/cp-newuser.png" alt="">
                    </div>
                    <div class="cp-detail">
                        <div class="cp-icon"><img src="/images/home/jjd-icon.png" alt=""></div>
                        <div>
                            <h1>{{products.gingerBaby.fullName}}</h1>
                            <p>小小金蛋  破壳赚钱</p>
                        </div>
                        <div>
                            <h2>{{products.gingerBaby.rate}}<span>%+<span>{{products.gingerBaby.activityRate}}</span>%</span></h2>
                            <p>预期年化利率</p>
                        </div>
                        <div class="deadline">
                            <h3>{{products.gingerBaby.deadline}}天</h3>
                            <p>投资期限</p>
                        </div>
                        <div>
                            <h3>{{products.gingerBaby.leastaAmount}}元</h3>
                            <p>起投金额</p>
                        </div>
                        <div ui-sref="main.billDetail({id:products.gingerBaby.id})" class="button">立即投资</div>
                    </div>
                    <img class="jjd-label" src="/images/home/jjd-label.png" alt="">
                </div>
                <div class="cp-routine">
                    <div class="img-box">
                        <img src="/images/home/cp-routine.png" alt="">
                        <div class="app-code-box">
                            <img src="/images/common/download_home.png" alt="">
                            <p>下载 金吉利宝APP</p>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <div class="cp-icon"><img src="/images/home/jbb-icon.png" alt=""></div>
                            <div>
                                <h1>{{products.jiBaby.fullName}}</h1>
                                <p>金吉利宝  收益饱饱</p>
                            </div>
                            <div>
                                <h2>{{products.jiBaby.rate}}<span>%+<span>{{products.jiBaby.activityRate}}</span>%</span></h2>
                                <p>预期年化利率</p>
                            </div>
                            <div class="deadline">
                                <h3>{{products.jiBaby.deadline}}天</h3>
                                <p>投资期限</p>
                            </div>
                            <div>
                                <h3>{{products.jiBaby.leastaAmount}}元</h3>
                                <p>起投金额</p>
                            </div>
                            <div ui-sref="main.billDetail({id:products.jiBaby.id})" class="button">立即投资</div>
                        </li>
                        <li>
                            <div class="cp-icon"><img src="/images/home/jxb-icon.png" alt=""></div>
                            <div>
                                <h1>{{products.propitiousBaby.fullName}}</h1>
                                <p>吉祥如意  荷包满意</p>
                            </div>
                            <div>
                                <h2>{{products.propitiousBaby.rate}}<span>%+<span>{{products.propitiousBaby.activityRate}}</span>%</span></h2>
                                <p>预期年化利率</p>
                            </div>
                            <div class="deadline">
                                <h3>{{products.propitiousBaby.deadline}}天</h3>
                                <p>投资期限</p>
                            </div>
                            <div>
                                <h3>{{products.propitiousBaby.leastaAmount}}元</h3>
                                <p>起投金额</p>
                            </div>
                            <div ui-sref="main.billDetail({id:products.propitiousBaby.id})" class="button">立即投资</div>
                        </li>
                        <li>
                            <div class="cp-icon"><img src="/images/home/jlb-icon.png" alt=""></div>
                            <div>
                                <h1>{{products.geelyBaby.fullName}}</h1>
                                <p>金吉利宝  大吉大利</p>
                            </div>
                            <div>
                                <h2>{{products.geelyBaby.rate}}<span>%+<span>{{products.geelyBaby.activityRate}}</span>%</span></h2>
                                <p>预期年化利率</p>
                            </div>
                            <div class="deadline">
                                <h3>{{products.geelyBaby.deadline}}天</h3>
                                <p>投资期限</p>
                            </div>
                            <div>
                                <h3>{{products.geelyBaby.leastaAmount}}元</h3>
                                <p>起投金额</p>
                            </div>
                            <div ui-sref="main.billDetail({id:products.geelyBaby.id})" class="button">立即投资</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="news">
                <header><span></span>新闻资讯</header>
                <div class="news-content">
                    <div class="mtbd-box">
                        <div class="img-box" ui-sref="main.more.bdxq({newId:news.artiId})"><img src="{{news.litpic}}" alt=""></div>
                        <div class="mtbd-detail">
                            <h1>媒体报道</h1>
                            <div ui-sref="main.more.bdxq({newId:news.artiId})">
                                <h2>{{news.title}}</h2>
                                <p>{{news.summaryContents}}</p>
                                <footer>查看详情></footer>
                            </div>
                        </div>
                    </div>
                    <div class="wzgg-box">
                        <h1>网站公告</h1>
                        <ul>
                            <li ng-repeat="item in ggList" ui-sref="main.more.ggxq({newId:item.arti_id})"><p>{{item.title}}</p><span>{{item.create_time | date:"yyyy-MM-dd"}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="parter banxin">

                <div class="swiper_container" id='swiper2'>
                    <div class="swiper-wrapper">

                        <div class="swiper-slide wdzj" style="background-image:url('/images/home/hlwjrppgw.jpg');"><a href="http://si.trustutn.org/info?sn=134180306000631424059&certType=4"></a></div>
                        <div class="swiper-slide wdzj" style="background-image:url('/images/home/partner1.png');"><a href="https://www.wdzj.com"></a></div>
                        <div class="swiper-slide" style="background-image:url('/images/home/partner-b.png');"></div>
                        <div class="swiper-slide" style="background-image:url('/images/home/partner-c.png');"></div>
                        <div class="swiper-slide" style="background-image:url('/images/home/partner-d.png');"></div>
                        <div class="swiper-slide" style="background-image:url('/images/home/partner-e.png');"></div>
                        <div class="swiper-slide" style="background-image:url('/images/home/partner2.png');"><a href="http://www.p2p001.com"></a></div>
                        <div class="swiper-slide" style="background-image:url('/images/home/partner-f.png');"></div>
                        <div class="swiper-slide" style="background-image:url('/images/home/partner-a.png');"></div>
                    </div>

                    <!-- 箭头 -->
                    <div class="arrow">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    
                </div>
                   
            </div>
            
        </div>
    </div>
    
    <!-- <div class="immediately_register">
        <a href="">立即注册领红包</a>   
    </div> -->
</div>
<div class="foot-banner">
                <img src="/images/index/foot-banner.png" width="100%" />
                <a class="register-btn" ui-sref="register">立即注册领红包</a>
            </div>